

<% if @restaurants.any? %>
<ul>
	<% @restaurants.each do |restaurant| %>

		<li><%= restaurant.name %></li>

		<%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)%>

	<%end%>
</ul>

<%else%>

	No restaurants added yet

<%end%>